* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./wallpaper.png");
    background-size: cover;
    background-position: center;
}

div#burger {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}

span#inner-burger {
    display: inline-block;
    width: .1rem;
    height: .1rem;
    background: coral;
}